@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
}

/* The rest of your styles stay exactly the same */
.text-stroke {
  -webkit-text-stroke: 1px #020617;
}

.bottom-bar {
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
}

.wasd-button {
  @apply shadow-md font-medium px-3 w-20 py-1 my-1 cursor-pointer rounded-md hover:scale-105
}
